body {
    text-align: center;
}
#title {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
}
.txtbn {
    height: 100%;
    width: 97%;
}
.line_header {
    font-family: 'Source Code Pro', monospace;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: left;
}
.mini_hr {
    background-color: black;
    width: 98%;
    height: 5px;
    margin-left: 10px;
    margin-right: 10px;
}
